.container {
    @apply bg-red-400;
    max-width: 100vw;
    min-height: 100vh;
}
.container-outlet {
    @apply h-auto bg-amber-800;
}
@media (max-width: 900px) {
    .container {
        max-width: 100vw;
    }
}

/* style of Menu */
.container .container-menu {
    @apply w-full h-[10vh] text-white bg-blue-secundary fixed z-10;
    @apply bottom-[90%];
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 350ms;
}
.menu-top {
    @apply w-full h-[10vh] text-white bg-blue-secundary fixed z-10;
    @apply bottom-[100%];
    transition: all 350ms;
}

/* style of nav-menu */
.nav-menu {
    @apply w-full h-full;
}
.list-menu {
    @apply h-full flex items-center;
    @apply box-border p-2;
}

/* style item-menu */
.item-menu {
    @apply h-2/3 flex text-center items-center justify-center relative;
    @apply font-ebraim font-[600] box-border mr-3;
    /* border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none; */
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
    outline: none;
}
.item-menu:hover {
    @apply text-white border-white rounded-lg border-[1px];
}
.active-menu {
    @apply text-white border-white rounded-lg border-[1px];
}
.item-menu a {
    @apply p-3 text-center;
}